*{
    padding: 0;
    margin: 0;
    
}
body{
    /* background-color: black;
    color: white; */
    font-family: "Inter", sans-serif;

}
.combine{
    display: flex;
}
nav{
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: aliceblue;
    height: 100vh;
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
    align-content: center;
    left: 0;
    top: 80px;
}
nav h2{
    margin-top: 20px;
    margin-left: 70px;
    z-index: 1;
    color: rgb(15, 15, 15);
}
nav ul li{
    margin-left: 70px;
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
header{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(180, 200, 147);
    z-index: 1;
}
#menubutton{
    border: none;
    background-color: transparent;
    z-index: 1;
    padding: 7px;
}
#menubutton:hover{
    background-color: gray;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
.logoimg{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logosvg{
    height: 70px;
    width: 70px;
}
.cart{
    display: flex;
    gap: 30px;
    font-size: large;
}
.cart a{
    font-size: large;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.searchbar{
    width: 60vw;
    border: 2px solid black;
    height: 25px;
    border-radius: 7px;
    padding: 2px;
    padding-left: 8px;
}
@keyframes slide-in{
0%{
    transform: translateX(-100%);
}
100%{
    transform: translateX(0%)
}
}
@keyframes slide-out{
    0%{
        transform: transLateX(0);
    }
    100%{
        transform: transLateX(-100%);
    }
}
#menuslide.active{
    animation: slide-in 0.3s ease-in-out;
}
#menuslide:not(.active){
    animation: slide-out 0s ease-in-out forwards;
}
.logoimg h2 a{
    text-decoration: none;
    color: black;
}